<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Username</title>
  </head>
  <body>
    <h1>Create New Username</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/new" method="POST">
      <input
        required
        type="text"
        name="username"
        minlength="3"
        placeholder="Enter a new username"
      />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
