<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usernames</title>
  </head>
  <body>
    <h1>All Usernames</h1>
    <ul>
      <% usernames.forEach(function(user) { %>
      <li><%= user.username %></li>
      <% }); %>
    </ul>
    <a href="/new">Add New Username</a>
  </body>
</html>
